<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css">
    <title>Biblioteca app</title>
</head>
<body>
    <h1 class="titulo">Biblioteca App</h1>
    <h2 class="subtitulo">Aplicación hecha con spring boot</h2>

    <div class="inicio">
        <a href="/login" class="inicioBotton">Iniciar Sesión</a>
        <a href="/registro" class="inicioBotton">Registrarse</a>
    </div>

</body>
</html>